<%= form_with(model: friend) do |form| %>
  <%= csrf_meta_tags %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="field form-group">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "email@email.com" %>
  </div>

  <div class="field form-group">
    <%= form.label :phone, class: "form-label" %>
    <%= form.text_field :phone, class: "form-control", placeholder: "111 222 333" %>
  </div>

  <div class="field form-group">
    <%= form.label :twitter, class: "form-label" %>
    <%= form.text_field :twitter, class: "form-control", placeholder: "@username" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :friend_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit class:"mt-4 btn btn-secondary" %>
  </div>
<% end %>
